body{
    background-color: #ffff;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;

}

/*div.fa{
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/

i{
    padding-left: 5px;
}

img.perfil{
    border-radius: 100%;
    padding-bottom: 0%;
}

